<h2>Page 3</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>

<upload-button label="Select file" done-label="Done" goto-when-done="/done"></upload-button>


<p class="text-danger" ng-show="errorMsg.length>1">Error: {{errorMsg}}</p>

<p class="disclaimer">
	<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur adipisci optio voluptate dignissimos tenetur nihil quaerat asperiores quibusdam soluta nostrum necessitatibus, eveniet eos provident officia itaque ut cupiditate praesentium sequi aspernatur dolores est, ullam. Cumque a, necessitatibus quibusdam quae perferendis.</small>
</p>